.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 250px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

a.title {
  color: white;
  text-decoration: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
}

.mat-nav-list {
  display: flex;
  align-items: center;
}
